<h1>Admin</h1>
{{#each users}}

<div>
    {{FirstName}} {{LastName}}
    Email: {{Email}}
    Username: {{Username}}
    Posts: {{PostBody}}
    <a href="#">UserId:</a>
</div>
{{/each}}
<h1>Admin</h1>